# Python
__pycache__/
*.py[cod]
*.pyc
backend/venv/
backend/.env
backend/uploads/
backend/static/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
